@font-face {
  font-family: "plinko";
  src: url("../Fonts/NeueMachina-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "plinko";
  src: url("../Fonts/NeueMachina-Light.otf");
  font-weight: lighter;
}
@font-face {
  font-family: "plinko";
  src: url("../Fonts/NeueMachina-Ultrabold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "plinko-alt";
  src: url("../Fonts/Avenir-LT-Std-85-Heavy.otf");
  font-weight: bold;
}
@font-face {
  font-family: "plinko-alt-n";
  src: url("../Fonts/Avenir-LT-Std-65-Medium.otf");
}