@media screen and (min-width: 1400px) {
  :root {
    --container-size: 80%;
    font-size: 1vw;
  }
}
@media screen and (max-width: 1000px) {
  section.plinko {
    header {
      h4.welcome-bonus {
        padding-left: 4.5rem;
        height: 4.5rem;
        font-size: 1rem;
        &:after {
          left: 5rem;
          right: 0;
        }
      }
      a.brand {
        &:after {
          height: 4.5rem;
        }
      }
      .cta {
        &:before {
          height: 4.5rem;
          transform: translateX(-43%);
        }
      }
    }
    &:before {
      height: 40%;
      background: linear-gradient(
        180deg,
        #1c1327 33%,
        rgba(28, 19, 39, 0.6117647059) 57%,
        rgba(28, 19, 39, 0)
      );
    }
    .girl-image {
      img.plinko-girl {
        width: 89%;
        margin-top: 2.5rem;
      }
    }
  }
  section.how-it-works {
    .card-container {
      .hiw-card {
        max-width: calc(50% - 0.5rem);
        &:last-child {
          max-width: calc(100% - 0.5rem);
        }
      }
    }
  }

  section.records {
    .record-card-container {
      .record-card {
        width: calc(50% - 1rem);
      }
    }
  }
}

@media screen and (max-width: 768px) {

  section.plinko {
    &:before {
      height: 40%;
      background: linear-gradient(
        180deg,
        #1c1327 46%,
        rgba(28, 19, 39, 0.6117647059) 67%,
        rgba(28, 19, 39, 0)
      );
    }
  }

  section.plinko {
    .circle-bg {
      display: none !important;
    }
  }
  section.pyramid {
    .circle-bg {
      width: 100%;
      height: unset;
      display: flex;
      overflow: hidden;
      pointer-events: none;
      &:after,
      &:before {
        content: "";
        position: absolute;
        width: 60rem;
        aspect-ratio: 1 / 1;
        background: radial-gradient(#dd9fce 0%, #06060600 70%);
        border-radius: 50rem;
        opacity: 30%;
        z-index: 11;
        top: 134%;
        left: 30%;
        transform: translate(-50%, -50%);
      }
      &:after {
        left: unset;
        right: -30%;
      }
    }
    .game-pyramid {
      .row{
        column-gap: 1rem;
        .ball{
          width: 0.5rem;
          height: 0.5rem;
        }
      }
    }
  }
}
