// Main Hero Section -------------------------------------------
section.plinko {
  background-size: cover;
  background-position: center 5rem;
  background-repeat: no-repeat;
  header {
    z-index: 9;
    padding-top: 1rem;
    a.brand {
      border: 0.063rem solid;
      padding: 1rem;
      border-right: 0;
      border-bottom: 0;
      border-radius: 0.56rem 0 0 0;
      padding-bottom: 0;
      width: 13rem;

      &:after {
        content: "";
        position: absolute;
        left: 100%;
        top: -0.063rem;
        height: 2.5rem;
        background: url(../images/svg/LeftTopBorder.svg);
        background-repeat: no-repeat;
        aspect-ratio: 2 / 1;
      }
      &:before {
        content: "";
        position: absolute;
        background: linear-gradient(180deg, #fff, transparent);
        left: -0.063rem;
        top: 100%;
        height: 15rem;
        width: 0.063rem;
      }
    }
    h4.welcome-bonus {
      height: 2.5rem;
      flex: 1;
      text-align: center;
      font-size: 1.25rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      &:after {
        content: "";
        position: absolute;
        height: 0.063rem;
        background: var(--theme-color-white);
        left: 2.9rem;
        bottom: 0.2px;
        right: -2.125rem;
        width: auto;
      }
    }
    .cta {
      padding-right: 1rem;
      padding-left: 4rem;
      a {
        background: url(../images/svg/RegisterBgBtn.svg);
        background-size: 100% 97%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 2rem 3rem;
        &:after,
        &:before {
          content: "";
          position: absolute;
        }
        &:after {
          right: 0;
          top: 2rem;
          bottom: 2rem;
          background: white;
          width: 0.063rem;
        }
        &:before {
          background: linear-gradient(180deg, #fff, transparent);
          right: 0;
          top: calc(100% + 0.9rem);
          height: 15rem;
          width: 0.063rem;
        }
      }
      &:after,
      &:before {
        content: "";
        position: absolute;
      }
      &:after {
        right: 0;
        top: 0;
        background: url(../images/svg/LeftCornerBorder.svg);
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1 / 1;
      }
      &:before {
        left: 0;
        top: 0;
        background: url(../images/svg/RightLeftBorder.svg);
        height: 2.5rem;
        background-repeat: no-repeat;
        aspect-ratio: 2 / 1;
        background-position: right;
      }
      .ornament {
        &:after {
          content: "";
          position: absolute;
          right: 0;
          background: url(../images/svg/LeftSideCurve.svg);
          bottom: -0.9rem;
          width: 3rem;
          background-repeat: no-repeat;
          background-position: center right;
          aspect-ratio: 1 / 1;
        }
        &:before {
          content: "";
          position: absolute !important;
          top: 0px;
          left: 5rem;
          right: 2rem;
          height: 0.063rem;
          background: white;
        }
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 70%;
    background: linear-gradient(180deg, #1c1327 16%, #1c13279c 29%, #1c132700);
    pointer-events: none;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10rem;
    height: 24.438rem;
    background: linear-gradient(
      180deg,
      #1c132700 15%,
      #1c1326 58%,
      rgb(28 19 39) 100%
    );
    pointer-events: none;
    opacity: 100%;
  }
  .girl-image {
    max-width: 100%;
    min-width: 74%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    z-index: 1;
    margin-top: -5rem;
    img.plinko-girl {
      width: 100%;
      height: auto;
      object-fit: contain;
      transform: translateX(4rem);
    }
    img.plinko {
      position: absolute;
      padding: 6rem 2rem;
      z-index: -1;
    }
  }

  .offers-slider {
    width: 100%;
    height: 17rem;
    bottom: 0;
    transform: translateY(38%);
    z-index: 1;
    .slider-container.position-absolute {
      color: white;
      z-index: 1;
      height: 4rem;
      background-color: rgb(255 255 255 / 20%);
      width: 113%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-7.27deg);
      backdrop-filter: blur(1rem);
      display: flex;
      align-items: center;
      column-gap: 7rem;
      top: 50%;
      box-shadow: 0 0.25rem 0.25rem 0 rgb(0 0 0 / 34%);
      border: 1px solid #ffffff78;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-image: url(../images/png/Random.png);
        opacity: 26%;
        background-size: 78%;
        pointer-events: none;
      }
      &:last-child {
        transform: translate(-50%, -50%) rotate(7.27deg);
      }
      .item {
        white-space: nowrap;
        display: inline-flex !important;
        gap: 0.5rem;
        font-weight: bold;
        font-size: 1.125rem;
        padding: 0 3rem;
        z-index: 3;
        &:before {
          content: "";
          width: 1.5rem;
          height: 1.5rem;
          background: url(../images/svg/Star.svg);
          background-size: contain;
          display: block;
        }
      }
    }
  }
  .circle-bg {
    width: 100%;
    height: unset;
    display: flex;
    overflow: hidden;
    pointer-events: none;
    &:after,
    &:before {
      content: "";
      position: absolute;
      width: 60rem;
      aspect-ratio: 1 / 1;
      background: radial-gradient(#dd9fce 0%, #06060600 70%);
      border-radius: 50rem;
      opacity: 30%;
      z-index: 11;
      top: 134%;
      left: 30%;
      transform: translate(-50%, -50%);
    }
    &:after {
      left: unset;
      right: -30%;
    }
  }
}

// ---------------------------------------------------------
section.pyramid {
  z-index: 1;
  position: relative;
  padding: 5rem 0;
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
    height: 100%;
    background: url(../images/svg/Mounten.svg);
    width: 100%;
    background-size: auto 95%;
    background-position: top center;
    background-repeat: no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background: linear-gradient(0deg, #1c1327, #1c132700);
    z-index: 0;
    pointer-events: none;
  }
  .site-container {
    position: relative;
    z-index: 1;
  }
  .game-pyramid {
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
    margin-top: 3rem;
    margin-right: 3.5rem;
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1.6rem;
      .ball {
        width: 0.87rem;
        height: 0.87rem;
        background: radial-gradient(#ffdff7, #dd9fce);
        border-radius: 1rem;
        box-shadow: 0 0.125rem 0.125rem 0 rgb(0 0 0 / 25%);
      }
      &:first-child {
        margin-bottom: 0.7rem;
        .ball {
          width: 1.3rem;
          height: 1.3rem;
        }
      }
      &:nth-child(2) {
        display: none;
      }
    }
  }
  .count-table {
    margin-right: 3.5rem;
    margin-top: 1rem;
    row-gap: 0.5rem;
    .row {
      display: flex;
      column-gap: 0.5rem;
      span {
        display: flex;
        padding: 0.2rem 0.3rem;
        font-size: 0.75rem;
        border-radius: 0.3rem;
        font-weight: bold;
        min-width: 2rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        background: var(--btn-color);
        border-bottom: 0.2rem solid var(--br-color);
        &:hover {
          filter: brightness(0.8);
        }
      }
      &:nth-child(1) {
        --btn-color: #5aa91e;
        --br-color: #97dd63;
      }
      &:nth-child(2) {
        --btn-color: #f27e09;
        --br-color: #ffaf54;
      }
      &:nth-child(3) {
        --btn-color: #be2713;
        --br-color: #dd6363;
      }
    }
  }
  .mounten {
    width: 100%;
    position: absolute;
    top: 5rem;
  }
  .colud {
    img {
      position: absolute;
      z-index: 1;
      &:nth-child(1) {
        left: 50%;
        top: 50%;
        width: 16.75rem;
        transform: translate(calc(-50% + -16rem), calc(-50% + -20rem));
      }
      &:nth-child(2) {
        left: 50%;
        top: 50%;
        width: 29rem;
        transform: translate(-47rem, -11rem);
      }
      &:nth-child(3) {
        right: 50%;
        top: 50%;
        transform: translate(calc(50% + 26rem), calc(-50% + -18rem));
        width: 8.7rem;
      }
      &:nth-child(4) {
        right: 50%;
        top: 50%;
        transform: translate(calc(50% + 42rem), calc(-50% - 10rem));
        width: 10.8rem;
      }
    }
  }
  img.plinko-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 21rem;
    z-index: 1;
    animation: contrast 2s infinite ease;
    pointer-events: none;
    transform: translate(calc(-50% + 15rem), calc(-50% + -15rem));
    pointer-events: none;
  }
  @keyframes contrast {
    0% {
      filter: contrast(1);
    }
    50% {
      filter: contrast(1.7);
    }
    100% {
      filter: contrast(1);
    }
  }
  .btn-container {
    margin-right: 3.5rem;
    margin-top: 1.5rem;
    column-gap: 1.5rem;
    &:after,
    &:before {
      content: "";
      width: 12rem;
      height: 0.063rem;
      background: var(--theme-color-white);
      opacity: 20%;
    }
    a {
      background: linear-gradient(
        0deg,
        #f19920 0%,
        #f6ad38 32%,
        #fcc452 75%,
        #fecc5c 100%
      );
      padding: 0.8rem 1.87rem;
      display: block;
      border-radius: 1rem;
      font-weight: bold;
      font-size: 1.5rem;
      border-top: 0.3rem solid #ffe9bc;
      border-bottom: 0.4rem solid #bc721b;
      color: #5d380d;
      text-shadow: 0 0.1rem rgba(255, 255, 255, 0.5);
    }
  }
}
// ------------------------------------------------------
section.how-it-works {
  padding-bottom: 3.063rem;
  margin-top: -5rem;
  z-index: 1;
  position: relative;
  a.hiw-btn {
    display: flex;
    border: 1px solid #ffffff70;
    padding: 0.8rem 2rem;
    border-radius: 3rem;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.1s;
    &:hover {
      background: var(--theme-color);
      border-color: var(--theme-color);
    }
  }
  .card-container {
    gap: 0.5rem;
  }
  .hiw-card {
    background: linear-gradient(-45deg, #ae78f2, #935fbc);
    padding: 2.25rem;
    max-width: calc(100% / 3 - 0.5rem);
    &.cut {
      clip-path: polygon(
        0 0,
        calc(100% - 2rem) 0,
        calc(100% - 1rem) calc(1rem),
        100% calc(1rem),
        100% calc(100% - 1rem),
        calc(100% - 1rem) calc(100% - 1rem),
        calc(100% - 2rem) 100%,
        0 100%
      );
    }
    &:last-child {
      flex: 1;
      max-width: unset;
      margin-right: 0.5rem;
      padding: 0;
      clip-path: polygon(
        0 1rem,
        1rem 1rem,
        2rem 0,
        calc(100% - 2rem) 0,
        calc(100% - 1rem) 1rem,
        100% 1rem,
        100% calc(100% - 1rem),
        calc(100% - 1rem) calc(100% - 1rem),
        calc(100% - 2rem) 100%,
        2rem 100%,
        1rem calc(100% - 1rem),
        0% calc(100% - 1rem)
      );
    }

    .h3 {
      font-size: 1.563rem;
      margin-bottom: 0.5rem;
      &:before,
      &:after {
        font-family: var(--theme-font-alt);
        font-size: 2rem;
      }
      &:before {
        content: "{  ";
      }
      &:after {
        content: "  }";
      }
    }
    .count {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    p {
      font-family: var(--theme-font-alt);
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
// ----------------------------------------------
section.claim {
  &:after {
    content: "";
    position: absolute;
    background: url("../images/png/Gradent-Bg.png");
  }
  .gr-bg {
    position: absolute;
    z-index: -1;
    top: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    pointer-events: none;
    height: 420%;
    img {
      position: absolute;
      z-index: -1;
      top: 57%;
      transform: translate(-50%, -50%);
      left: 50%;
      width: 230%;
      pointer-events: none;
      height: 101%;
      background-repeat: no-repeat;
    }
  }
  .site-container {
    padding: 3rem 3.25rem 1rem 3.25rem;
    border-top: 0.1rem solid;
    border-radius: 1.25rem 1.25rem 0 0;
    overflow: hidden;
    z-index: 2;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 130%;
      aspect-ratio: 3 / 2;
      transform: translate(-50%, -66%);
      background: radial-gradient(#ff0fc5 10%, rgba(28, 19, 39, 0) 50%);
      border-radius: 120%;
      opacity: 42%;
      z-index: -1;
      filter: blur(8rem);
      background-position: center;
      pointer-events: none;
    }
    .h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
      line-height: auto;
    }
    p {
      font-size: 1.813rem;
    }
    a.play-now {
      border-radius: 1.875rem;
      background: #ea2087;
      padding: 1.3rem 5rem;
      display: flex;
      width: max-content;
      margin: 3rem auto;
      font-weight: bold;
      font-size: 1.813rem;
      border-bottom: 0.4rem solid #6c093c;
    }
  }
}
// -------------------------------
section.banks-support {
  padding: 1.75rem 0;
  border: 0.063rem solid rgba(255, 255, 255, 0.2);
  border-left: none;
  border-right: none;

  &:before {
    content: "";
    position: absolute;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(217, 217, 217, 0.2)
    );
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 21%;
    pointer-events: none;
  }
  &:after {
    content: "";
    position: absolute;
    background: url(../images/png/Random.png);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-size: 141%;
    opacity: 7%;
    pointer-events: none;
  }
  .logos-container {
    gap: 2rem;
  }
  img {
    position: relative;
    width: auto;
    height: 1.7rem;
    opacity: 56%;
    &:hover {
      opacity: 100%;
    }
  }
}
// -------------------------------------------
section.records {
  padding: 3.25rem 0;
  .record-card-container {
    gap: 1.25rem;
    .record-card {
      width: calc(25% - 1rem);
      position: relative;
      padding: 2rem;
      gap: 0.5rem;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: var(--theme-color);
        opacity: 27%;
        border-radius: 0.625rem;
        pointer-events: none;
      }
      .noise {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0.4rem;
        border: 0.063rem solid var(--theme-color-white);
        border-radius: 0.625rem;
        opacity: 28%;
        pointer-events: none;
        &:after {
          content: "";
          position: absolute;
          background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.4),
            rgba(217, 217, 217, 0.2)
          );
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 60%;
          pointer-events: none;
          box-shadow: 0 0.063rem 3px 0 #000;
        }
        &:before {
          content: "";
          position: absolute;
          background: url(../images/png/Random.png);
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
          background-size: 390%;
          pointer-events: none;
        }
      }
      .icon {
        width: 3.125rem;
        aspect-ratio: 1 / 1;
        img {
          width: 100%;
          height: auto;
        }
      }
      .content {
        z-index: 1;
        .h4 {
          font-size: 1.25rem;
        }
        p {
          font-family: var(--theme-font-alt-n);
          font-weight: normal;
          font-size: 0.9rem;
          margin-top: 0.5rem;
        }
      }
    }
  }
}
// --------------------------------------
section.copy-right {
  background: #110a18;
  padding: 0.5rem 0;
  font-size: 0.95rem;
}
